$background1: #F9F8F8;
$background2: #DEE7EC;
$background3: #FFFFFF;
$error: #CE0A0A;
$secondary: #296479;
$text: #151515;
$text2: #282828;
$text3: #4B4B4B;
$primary: #3D6952;
$accent: #96CAE1;
$border: #999999;
$star: #FECB00;
$desktop :600px;