@import "../../../styles/core.scss";

.profile-layout {
    display: flex;
    gap: 2rem;
    min-height: calc(100vh - 200px);
    padding: 2rem;
}

.profile-layout-content {
    flex: 1;
    min-width: 0;
}

@media (max-width: 1024px) {
    .profile-layout {
        flex-direction: column;
        padding: 1rem;
    }
}