@import "../../../styles/core.scss";

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $border;
    border-radius: 10px;
    padding: 0 15px;
    background-color: $background3;
    width: 100%;
    transition: all 0.3s ease;
    min-height: 50px;
    box-sizing: border-box;

    .search-icon {
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }

    .search-input {
        flex: 1;
        border: none;
        padding: 12px 0;
        outline: none;
        background: transparent;
        width: 100%;

        &::placeholder {
            color: $text2;
        }
    }

    &:focus-within {
        border-color: $accent;
    }
}