body {
    margin: 0 !important;
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    background-color: $background1;

    &::before {
        content: '';
        width: inherit;
        height: inherit;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
    }

    #root {
        width: inherit;
        height: inherit;
    }
}